.admin-dash {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-in {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in * {
  font-size: inherit;
  font-family: inherit;
}

.log-in form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.log-in input {
  height: 28px;
  padding-left: 8px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 3px;
  margin-bottom: 16px;
}

.log-in label {
  margin-bottom: 2px;
}

.log-in button {
  padding: 0;
  border-radius: 3px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: rgb(38, 38, 38);
  color: white;
  margin-top: 8px;
  transition: 0.3s;
}

.log-in button:hover {
  background-color: rgb(62, 62, 62);
}

.log-in .message {
  margin-top: 12px;
}

.admin-dash h1.title {
  margin-top: 24px;
}

.admin-dash .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1024px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.dash-post {
  width: 500px;
  height: 107px;
  border: 1px solid lightgray;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 20px 40px rgb(224, 224, 224);
  transition: 0.6s;
  background-color: white;
}

.dash-post .img-container {
  overflow: hidden;
}

.dash-post img {
  width: 120px;
  height: 0;
  min-height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.dash-post img:hover {
  transform: scale(1.2);
}

.dash-post .info {
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dash-post .title {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.dash-post .date {
  margin-top: 6px;
  color: rgb(141, 141, 141);
}

.dash-post .actions {
  display: flex;
  align-items: center;
  margin-top: 6px;
  height: 34px;
}

.dash-post .actions a {
  margin-left: auto;
  border: 1px solid black;
  padding: 4px 12px;
  border-radius: 4px;
  margin-right: 8px;
}

.dash-post .actions a:hover,
.dash-post .cancel:hover {
  background-color: rgb(244, 244, 244);
}

.dash-post button {
  padding: 4px 12px;
  border-radius: 4px;
  margin-right: 8px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.dash-post .delete-btn,
.dash-post .confirm-delete {
  border: 1px solid red;
  background-color: red;
  color: white;
}

.dash-post .delete-btn:hover,
.dash-post .confirm-delete:hover {
  background-color: rgb(255, 73, 73);
}

.dash-post .cancel {
  border: 1px solid black;
  background-color: white;
  margin-left: auto;
}

.dash-post.new {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: gray;
}

.dash-post:hover {
  box-shadow: none;
  transform: translateY(3px);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  transform: scale(0.7);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
