html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  word-wrap: break-word;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: rgb(63, 63, 63);
  margin: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
