.feed {
  padding: 60px 30px 86px 30px;
  display: flex;
  column-gap: 30px;
  align-items: flex-start;
  justify-content: center;
}

.feed-col {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}
