@keyframes slide-in {
  from {
    transform: translateY(25px);
  }
  to {
    transform: translateY(0);
  }
}

.feed-item {
  width: 382px;
  display: flex;
  flex-direction: column;
  color: rgb(141, 141, 141);
  overflow: hidden;
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 0 20px 40px rgb(224, 224, 224);
  box-sizing: border-box;
  transition: 0.6s;
}

.feed-item:hover {
  box-shadow: none;
  transform: translateY(3px);
}

.feed-item .img-container {
  display: flex;
  position: relative;
  min-height: 120px;
  max-height: 500px;
}

.feed-item .img-container img {
  width: 100%;
  object-fit: contain;
  object-position: center;
  transition: 0.5s;
}

.feed-item .img-container:hover img {
  transform: scale(1.15);
}

.blue-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(71, 201, 229, 0);
  transition: 0.5s;
  display: flex;
  opacity: 0;
  top: 0;
}

.img-container:hover .blue-overlay {
  background-color: rgba(71, 201, 229, 0.8);
  opacity: 1;
}

.feed-item .img-container .blue-overlay .post-link {
  width: 50%;
  height: 100%;
}

.feed-item .img-container .blue-overlay .post-link a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.feed-item .img-container .blue-overlay .full-size {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.feed-item .img-container .blue-overlay .badge {
  width: 60px;
  height: 60px;
  color: white;
  margin: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.feed-item .img-container .blue-overlay > *:hover .badge {
  background-color: white;
  color: rgb(63, 63, 63);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.234);
  animation: slide-in 0.5s forwards;
}

.feed-item .content-preview {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 36px 50px 0 50px;
  position: relative;
}

.feed-item .content-preview .by-line {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.feed-item .content-preview .by-line > * {
  margin-right: 12px;
}

.feed-item .content-preview .by-line .author {
  transition: 0.3s;
}

.feed-item .content-preview .by-line .author:hover {
  color: rgb(63, 63, 63);
}

.feed-item .content-preview .title {
  margin-top: 16px;
  line-height: 28px;
  transition: 0.3s;
}

.feed-item .content-preview .title:hover {
  color: rgba(71, 201, 229);
}

.feed-item .content-preview .body {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 28px;
}

.feed-item .content-preview .full-name {
  font-size: 13px;
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: -50px;
  padding-left: 50px;
  border-top: 1px solid rgb(233, 233, 233);
  width: 190px;
  margin-top: auto;
}

.feed-item .content-preview .comment-badge {
  width: 64px;
  height: 40px;
  background-color: rgb(246, 246, 246);
  position: absolute;
  bottom: 40px;
  left: 270px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  font-size: 12px;
  transition: 0.5s;
}

.feed-item .content-preview .comment-badge:hover {
  background-color: rgba(71, 201, 229);
  color: white;
}
