.hero {
  height: 470px;
  width: 100%;
  background-color: gray;
  position: relative;
  display: flex;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.hero .content {
  z-index: 0;
  color: white;
  width: 100%;
  height: 100%;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.hero .content .bar,
.header .bar {
  display: flex;
  padding: 0 30px;
}

.user-log-in {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-left: auto;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 14px;
  align-items: flex-end;
  height: 71px;
}

.user-log-in button {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  margin-left: 24px;
  transition: 0.3s;
  height: 30px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
  width: 90px;
  display: flex;
  cursor: pointer;
  margin-top: 8px;
}

.user-log-in button:hover {
  background-color: rgba(68, 68, 68, 0.3);
}

.user-log-in > *:first-child {
  margin-top: 16px;
}

.user-log-in .username {
  font-weight: 600;
}

.hero .content .logo {
  font-size: 32px;
  text-align: left;
  margin-left: 210px;
  margin-top: 28px;
}

.hero .content .tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  flex: 1;
}

.hero .content .tagline .sub {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
  font-weight: 400;
}

.admin-prompt {
  color: white;
  font-weight: 400;
  margin-left: auto;
}

.user-log-in a {
  text-decoration: underline;
}
